.notes-area {
    background-color: rgb(240, 245, 244);
}

.total-area {
    width: 1200px;
    padding: 50px;

}

.sub-area {
    padding: 50px;
    height: 500px;
    background-color: rgb(216, 242, 239);

}
.left-position{
    margin-top: 20px;
    margin-left: 1070px;
}
.left-position2{
    margin-left: 800px;
    width: 200px;
}
.left-position3{
    margin-left: 880px;
}